<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body class="bg-gray-900 text-white h-screen flex items-center justify-center">
    <div class="container flex bg-gray-800 shadow-lg rounded-lg overflow-hidden max-w-screen-md mx-auto">
        <!-- Sidebar -->
        <div class="sidebar bg-gray-700 text-white p-4 w-64">
            <h2 class="text-lg font-bold">Routes</h2>
            <ul class="mt-4">
                <li><a href="/" class="block py-2 hover:bg-gray-600 rounded">Home</a></li>
                <li><a href="/upload" class="block py-2 hover:bg-gray-600 rounded">Upload</a></li>
                <li><a href="/timeline" class="block py-2 hover:bg-gray-600 rounded">Timeline</a></li>
            </ul>
        </div>
        <!-- Content -->
        <div class="content p-4 flex-1">
            <h1 class="text-4xl font-bold mb-8">Hi {{ .Username }}</h1>
            {{template "timeline" .}}
        </div>
    </div>
</body>
</html>
