{{define "timeline"}}
<div class="timeline" id="timeline">
    {{range .Entries}}
    <div class="mb-6">
        <h3 class="text-2xl font-semibold mb-4">{{index . "Time"}}</h3>
        <div class="card bg-gray-700 p-4 rounded-lg mb-4">
            <h2 class="text-xl font-bold">{{index . "EventName"}}</h2>
            <p>{{index . "Vibe"}}</p>
        </div>
        <!-- Loop through all columns for this entry -->
        <ul>
            {{range $key, $value := .}}
            {{if not (or (eq $key "Time") (eq $key "EventName") (eq $key "Vibe") (eq $key "EventType") (eq $key "SuppliedBy") (eq $key "SuppliedFor"))}} <!-- Exclude specific columns -->
            <li><strong>{{ $key }}:</strong> {{ formatValue $value }}</li>
            {{end}}
            {{end}}
        </ul>
    </div>
    {{end}}
</div>
{{end}}